/******************************************************************
Site Name: Theme Name
Stylesheet: Base Mobile Stylesheet
******************************************************************/

/*********************
GENERAL STYLES
*********************/
body {
	opacity: 1 !important;
	font-family: $sans-serif;
}
.wrap {
	width: 96%;
	margin: 0 auto;
}
.mobile{display: block;}
.full{display: none;}

/*********************
LINK STYLES
*********************/
a, a:visited {
	color: $contrast;
	
	&:hover, &:focus {
		color: $contrast-dk;
	}

	/* on click */
	&:active {

	}

	/* mobile tap color */
	&:link {
		/*
		Basically works like the :hover selector
		for mobile devices.
		*/
		-webkit-tap-highlight-color : rgba( 0, 0, 0, 0.3 );
	}
}

/******************************************
H1, H2, H3, H4, H5 STYLES
******************************************/
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5 {
	a {
		
	}
}

h1, .h1 {
	
}

h2, .h2 {
	
}

h3, .h3 {
	
}

h4, .h4 {

}

h5, .h5 {
	
}

h6, .h6 {
	
}

/********************
ARTICLE STYLES
*********************/
article {
	
}
#feature {
	
}

/*********************
HEADER SYTLES
*********************/
.header {

	#logo { 
		a {
			color: $base-color;
		}
	}

	#desc {
		color: $contrast;
	}		
}

/*********************
NAVIGATION STYLES
*********************/
.header {

	#mobile-menu{
		#inner-mobile-menu{
			$height: 48px;
			$width: 46px;
			width: 100%;
			min-width: 320px;
			height: $height;
			background-color: $contrast;
			#mobile-menu-header{
				ul.icons{
					li{
						width: $width;
						span{position:absolute;height:$height;width:$width;}
						&:hover,&:active,&.open-close{
							background-color: $contrast-dk;
						}
						&.menu-icon span{
							background: url(../images/mobile-sprite.png) no-repeat 3px 5px;
						}
						&.mobile-logo {
							width: 155px;
							span{
								background: url(../images/mobile-sprite.png) no-repeat -42px 5px;
								width: 155px;
							}
							&:hover,&:active{
								background-color: $contrast;
							}
						}
						&.search-icon {
							float: right;
							span{
								background: url(../images/mobile-sprite.png) no-repeat -187px 5px;
							}
						}
					}
				}
			}
			#mobile-menu-content{
				float: left;
				width: 100%;
				#mobile-search-container{
					background: $contrast-dk;
					padding: 5px 0px;
					overflow: hidden;
					#mobile-search{
						overflow: hidden;
						form{
							input{
								border-radius: 3px;
								border: none;
								outline: none;
							}
							#mobile-search-input{
								width: 75%;
								min-width: 230px;
								float: right;
								input{
									width: 100%;
								}
							}
							#mobile-search-submit{
								margin-left: 1.5%;
								float: right;
								text-align: right;
								input[type=submit]{
									background: $contrast;
									padding: 10px;
									text-transform:  uppercase;
									color: $white;
									font-size: 12px;
								}
							}
						}
					}
				}
				#mobile{
					li{
						a{
							background-color: $contrast-dk;
							&:hover,&:active{
								background-color: $contrast-lt;
							}
						}
					}
				}

				#mobile{display:none;}
				#mobile.open-close {display: block;}
				#mobile-search-container{display:none;}
				#mobile-search-container.open-close{display:block;}
			}
		}
	}
}

.nav {
	
	li {

		a {
			color: $white;
			background-color: $contrast;
			&:hover, &:focus {
				background-color: $contrast-lt;
				color: $white;
			}
		}

		&:first-child {}

		&:last-child {}

		ul.sub-menu,
		ul.children {

			li {

				a {
					
					&:hover,
					&:focus {}

					&:link {}

				}

				&:first-child {}

				&:last-child {}

			}

		}

	} /* end .menu li */

	/* highlight current page */
	li.current-menu-item,
	li.current_page_item,
	li.current-page-ancestor {

		a {
			background-color: $contrast-lt;
		}
	}  /* end current highlighters */

} /* end .nav */

.utility-nav {
	
}


/*********************
POSTS & CONTENT STYLES
*********************/
#content {
	
	#inner-content {
		#main {
			
		}
	}
}

.hentry {

	header {}

	footer {}

} /* end .hentry */

	
/***************************
FEATURES & CALLS TO ACTION
****************************/	

#top-feature {
	
}

#home-cta {
	
	.widget {
		
	}
}

#home-features {
	
	.widget {
		
		h4.widgettitle {
			
		}
	}
}

#home-cta, #page-cta {
	
}
#home-cta h1,
#page-cta h1,
#home-cta h2,
#page-cta h2 {
	
}

#home-features .widget {
	
}

#home-features .widget:first-child {
	
}

#home-features .widget:last-child {
	
}

/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {

	.widgettitle {
		
	}

	.widget {

		ul {

			li {

				&:first-child {}

				&:last-child {}

				a {}

				/* deep nesting */
				ul {}

			}

		}

	}
}

/*********************
FOOTER STYLES
*********************/
.footer {
	
	#inner-footer {
		background: $contrast;
		a {
			color: $neutral-lt;	
		}
	}
}

.copyright {
	
}