/******************************************************************
Site Name: Theme Name
Stylesheet: Mixins & Constants Stylesheet
******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
$alert-yellow:      #ebe16f;
$alert-red:         #fbe3e4;
$alert-green:       #e6efc2;
$alert-blue:        #d5edf8;

/* Color Base Setup (change as necessary per project) */
$contrast_percent: 10%;

$black:             #000;
	$lt-black:		lighten($black,$contrast_percent);
	$dk-black:		darken($black,$contrast_percent);
$white:             #fff;
	$lt-white:		lighten($white,$contrast_percent);
	$dk-white:		darken($white,$contrast_percent);
$grey:				#808080;
	$lt-grey:		lighten($grey,$contrast_percent);
	$dk-grey:		darken($grey,$contrast_percent);
$red:				#FF0000;
	$lt-red:		lighten($red,$contrast_percent);
	$dk-red:		darken($red,$contrast_percent);
$blue: 				#0000FF;
	$lt-blue:		lighten($blue,$contrast_percent);
	$dk-blue:		darken($blue,$contrast_percent);
$yellow: 			#FFFF00;
	$lt-yellow:		lighten($yellow,$contrast_percent);
	$dk-yellow:		darken($yellow,$contrast_percent);
$green: 			#00FF00;
	$lt-green:		lighten($green,$contrast_percent);
	$dk-green:		darken($green,$contrast_percent);
$orange: 			#FF8000;
	$lt-orange:		lighten($orange,$contrast_percent);
	$dk-orange:		darken($orange,$contrast_percent);
$purple: 			#400040;
	$lt-purple:		lighten($purple,$contrast_percent);
	$dk-purple:		darken($purple,$contrast_percent);
$pink: 				#FF0080;
	$lt-pink:		lighten($pink,$contrast_percent);
	$dk-pink:		darken($pink,$contrast_percent);

/* Theme Color Palette */
$base-color:		#e31b23;				
$base-lt:			#e7767a;				
$base-dk:			#ba161d;				
$accent:			#1D1D1D;				
$accent-lt:			#777777;				
$accent-dk:			$black;					
$contrast:			#DA2C2C;				
$contrast-lt:		lighten($contrast, 10%);
$contrast-dk:		darken($contrast, 10%);	
$neutral:			#ecf2b7;				
$neutral-lt:		#ece9d3;				
$neutral-med:		#d9d1a9;				
$neutral-dk:		#b2ad8a; 				

$bgr:				$white;					 
$link-color:        $contrast;
$link-hover:        darken($link-color, 9%);
$text-color:		$accent;
$nav-bgr:           $contrast;
$nav-hover-bgr:     $contrast-lt;
$nav-current-bgr:   $neutral-lt;
$nav-current-color: $link-hover;

/*********************
TYPOGRAPHY
*********************/
$sans-serif:        "OpenSansLight", "Helvetica Neue", Arial, sans-serif;
$serif:             "Georgia", Cambria, "Times New Roman", Times, serif;
$fancy: 			"Crushed", "OpenSansLightItalic", "Helvetica Neue", sans-serif;
$heavy:				"OpenSansSemibold", "Helvetica Neue", Arial, sans-serif;

	// @import url(http://fonts.googleapis.com/css?family=Crushed);

	// @font-face {
	//     font-family: 'OpenSansLight';
	//     src: url('../fonts/OpenSans-Light-webfont.eot');
	//     src: url('../fonts/OpenSans-Light-webfont.eot?#iefix') format('embedded-opentype'),
	//          url('../fonts/OpenSans-Light-webfont.woff') format('woff'),
	//          url('../fonts/OpenSans-Light-webfont.ttf') format('truetype'),
	//          url('../fonts/OpenSans-Light-webfont.svg#OpenSansLight') format('svg');
	//     font-weight: normal;
	//     font-style: normal;
	
	// }

/*********************
TRANISTION
*********************/
@mixin transition($transition...) {
	// defining prefixes so we can use them in mixins below
	$prefixes:      ("-webkit", "-ms", "-o",  "");
  @each $prefix in $prefixes {
    #{$prefix}-transition: $transition;
  }

  transition: $transition;
}

/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* added support for IE */
@mixin css-gradient($from, $to) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#{ie-hex-str($from)}', endColorstr='#{ie-hex-str($to)}');
}

/*********************
CSS3 BOX SHADOW
*********************/
/*  @include box-shadow(0, 0, 10px, 0, #444444, ""); */
@mixin box-shadow($top, $left, $blur, $spread, $color, $inset:"") {
      -webkit-box-shadow:$top $left $blur $spread #{$inset};
      -moz-box-shadow:$top $left $blur $spread #{$inset};
      box-shadow:$top $left $blur $spread #{$inset};
      -o-box-shadow:$top $left $blur $spread #{$inset};
}

/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}

/*********************
BUTTON FORMATTING
*********************/
.button, .button:visited {
	font-family: $sans-serif;
	border: 1px solid darken($link-color, 13%);
	border-top-color: darken($link-color, 7%);
	border-left-color: darken($link-color, 7%);
	padding: 4px 12px;
	color: $white;
	display: inline-block;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-shadow: 0 1px rgba(0,0,0, .75);
	cursor: pointer;
	margin-bottom: 20px;
	line-height: 21px;
	border-radius: 4px;
	@include css-gradient($link-color, darken($link-color, 5%));


	&:hover, &:focus {
		color: $white;
	  	border: 1px solid darken($link-color, 13%);
	  	border-top-color: darken($link-color, 20%);
	 	border-left-color: darken($link-color, 20%);
		@include css-gradient(darken($link-color, 5%), darken($link-color, 10%));
	}

	&:active {
		@include css-gradient(darken($link-color, 5%), $link-color);
	}
}