/******************************************************************
Site Name: 
Author: 

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/*
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't 
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
*/
/* import mixins */
/******************************************************************
Site Name: Theme Name
Stylesheet: Mixins & Constants Stylesheet
******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* Color Base Setup (change as necessary per project) */
/* Theme Color Palette */
/*********************
TYPOGRAPHY
*********************/
/*********************
TRANISTION
*********************/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* added support for IE */
/*********************
CSS3 BOX SHADOW
*********************/
/*  @include box-shadow(0, 0, 10px, 0, #444444, ""); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTON FORMATTING
*********************/
.button, .button:visited {
  font-family: "OpenSansLight", "Helvetica Neue", Arial, sans-serif;
  border: 1px solid #a71d1d;
  border-top-color: #c12222;
  border-left-color: #c12222;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #c92323;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#da2c2c), to(#c92323));
  background-image: -webkit-linear-gradient(top, #da2c2c, #c92323);
  background-image: -moz-linear-gradient(top, #da2c2c, #c92323);
  background-image: -o-linear-gradient(top, #da2c2c, #c92323);
  background-image: linear-gradient(to bottom, #da2c2c, #c92323);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFDA2C2C', endColorstr='#FFC92323'); }
  .button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
    color: white;
    border: 1px solid #a71d1d;
    border-top-color: #881818;
    border-left-color: #881818;
    background-color: #b41f1f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c92323), to(#b41f1f));
    background-image: -webkit-linear-gradient(top, #c92323, #b41f1f);
    background-image: -moz-linear-gradient(top, #c92323, #b41f1f);
    background-image: -o-linear-gradient(top, #c92323, #b41f1f);
    background-image: linear-gradient(to bottom, #c92323, #b41f1f);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFC92323', endColorstr='#FFB41F1F'); }
  .button:active, .button:visited:active {
    background-color: #da2c2c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c92323), to(#da2c2c));
    background-image: -webkit-linear-gradient(top, #c92323, #da2c2c);
    background-image: -moz-linear-gradient(top, #c92323, #da2c2c);
    background-image: -o-linear-gradient(top, #c92323, #da2c2c);
    background-image: linear-gradient(to bottom, #c92323, #da2c2c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFC92323', endColorstr='#FFDA2C2C'); }

/******************************************************************
Site Name: Theme Name
Stylesheet: 481px and Up Stylesheet
******************************************************************/
/*********************
NAVIGATION STYLES
*********************/
.nav {
  /* .menu is clearfixed inside mixins.scss */
  /* end .menu */ }
  .nav .menu {
    /* end .menu ul */ }
    .nav .menu ul {
      /* end .menu ul li */
      /* highlight current page */
      /* end current highlighters */ }
      .nav .menu ul li {
        /*
        plan your menus and drop-downs wisely.
        */ }
        .nav .menu ul li a {
          /*
          you can use hover styles here even though this size
          has the possibility of being a mobile device.
          */ }

/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
.entry-content {
  /* at this larger size, we can start to align images */ }

/* end .entry-content */
/********************
WORDPRESS BODY CLASSES
style a page via class
********************/
/*********************
FOOTER STYLES
*********************/
/* end .footer-links */
/******************************************************************
Site Name: Theme Name
Stylesheet: Tablet & Small Desktop Stylesheet

    ** imports _768up-nav.scss
******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
.wrap {
  max-width: 1140px; }

.full {
  display: block; }

.mobile {
  display: none; }

/*********************
HEADER SYTLES
*********************/
/*********************
NAVIGATION STYLES
*********************/
.nav.top-nav {
  background: #da2c2c;
  border: 0;
  /* end .nav ul li */
  /* add sub-menu parent item styling */ }
  .nav.top-nav li {
    float: left;
    position: relative;
    /* showing sub-menus for tier 2 */ }
    .nav.top-nav li a, .nav.top-nav li a:visited {
      border-bottom: 0;
      padding: 15px 20px;
      font-size: .9em; }
    .nav.top-nav li ul.sub-menu,
    .nav.top-nav li ul.children {
      margin-top: 0;
      position: absolute;
      left: 0;
      max-height: 0;
      overflow: hidden;
      opacity: 0;
      z-index: 8999;
      background: #da2c2c;
      -webkit-transition: 0.25s;
      -ms-transition: 0.25s;
      -o-transition: 0.25s;
      -transition: 0.25s;
      transition: 0.25s; }
      .nav.top-nav li ul.sub-menu:hover,
      .nav.top-nav li ul.children:hover {
        overflow: visible; }
      .nav.top-nav li ul.sub-menu li,
      .nav.top-nav li ul.children li {
        /* highlight sub-menu current page */ }
        .nav.top-nav li ul.sub-menu li a,
        .nav.top-nav li ul.children li a {
          display: block;
          width: 200px;
          background: none; }
          .nav.top-nav li ul.sub-menu li a:hover,
          .nav.top-nav li ul.children li a:hover {
            background: #e25757; }
        .nav.top-nav li ul.sub-menu li li.current-menu-item a,
        .nav.top-nav li ul.sub-menu li li.current_page_item a,
        .nav.top-nav li ul.sub-menu li li.current-page-ancestor a,
        .nav.top-nav li ul.children li li.current-menu-item a,
        .nav.top-nav li ul.children li li.current_page_item a,
        .nav.top-nav li ul.children li li.current-page-ancestor a {
          background-color: #ece9d3;
          color: #b82020; }
        .nav.top-nav li ul.sub-menu li ul,
        .nav.top-nav li ul.children li ul {
          top: 0;
          left: 100%;
          max-height: 0;
          overflow: hidden;
          z-index: 8999;
          background: #d62626;
          opacity: 0; }
          .nav.top-nav li ul.sub-menu li ul li a:hover, .nav.top-nav li ul.sub-menu li ul li a:focus,
          .nav.top-nav li ul.children li ul li a:hover,
          .nav.top-nav li ul.children li ul li a:focus {
            background: #e04f4f; }
        .nav.top-nav li ul.sub-menu li:hover ul,
        .nav.top-nav li ul.children li:hover ul {
          overflow: visible;
          max-height: 999em;
          opacity: 1;
          -webkit-transition-delay: .25s;
          transition-delay: .25s; }
    .nav.top-nav li:hover ul {
      top: auto;
      display: block;
      left: 0;
      max-height: 999em;
      opacity: 1;
      -webkit-transition-delay: .25s;
      transition-delay: .25s; }
  .nav.top-nav li.parent > a:after {
    color: #ccc;
    content: ' \00BB';
    font-size: .8em;
    vertical-align: 1px; }
  .nav.top-nav .sub-menu li.parent > a:after {
    color: #ccc;
    content: ' \00BB';
    font-size: .8em;
    vertical-align: 1px; }

/* end .nav.top-nav */
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar .widget ul li {
  /* deep nesting */ }

/*********************
FOOTER STYLES
*********************/
/* end .footer-links */
.sub-menu {
  margin-left: 0;
  width: 214px; }

/******************************************************************
Site Name: Theme Name
Stylesheet: Desktop Stylsheet
******************************************************************/
/* 
you can call the larger styles if you want, but there's really no need 
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
.top-nav li {
  z-index: 9999; }

.top-nav lu ul {
  z-index: 9999; }

.top-nav li .sub-menu li {
  z-index: 9999; }
