/******************************************************************
Site Name: Theme Name
Stylesheet: Main Stylesheet
******************************************************************/
/******************************************************************
Site Name: Theme Name
Stylesheet: Mixins & Constants Stylesheet
******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/* Color Base Setup (change as necessary per project) */
/* Theme Color Palette */
/*********************
TYPOGRAPHY
*********************/
/*********************
TRANISTION
*********************/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdue it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/* added support for IE */
/*********************
CSS3 BOX SHADOW
*********************/
/*  @include box-shadow(0, 0, 10px, 0, #444444, ""); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/*********************
BUTTON FORMATTING
*********************/
.button, .button:visited {
  font-family: "OpenSansLight", "Helvetica Neue", Arial, sans-serif;
  border: 1px solid #a71d1d;
  border-top-color: #c12222;
  border-left-color: #c12222;
  padding: 4px 12px;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  text-decoration: none;
  text-shadow: 0 1px rgba(0, 0, 0, 0.75);
  cursor: pointer;
  margin-bottom: 20px;
  line-height: 21px;
  border-radius: 4px;
  background-color: #c92323;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#da2c2c), to(#c92323));
  background-image: -webkit-linear-gradient(top, #da2c2c, #c92323);
  background-image: -moz-linear-gradient(top, #da2c2c, #c92323);
  background-image: -o-linear-gradient(top, #da2c2c, #c92323);
  background-image: linear-gradient(to bottom, #da2c2c, #c92323);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFDA2C2C', endColorstr='#FFC92323'); }
  .button:hover, .button:focus, .button:visited:hover, .button:visited:focus {
    color: white;
    border: 1px solid #a71d1d;
    border-top-color: #881818;
    border-left-color: #881818;
    background-color: #b41f1f;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c92323), to(#b41f1f));
    background-image: -webkit-linear-gradient(top, #c92323, #b41f1f);
    background-image: -moz-linear-gradient(top, #c92323, #b41f1f);
    background-image: -o-linear-gradient(top, #c92323, #b41f1f);
    background-image: linear-gradient(to bottom, #c92323, #b41f1f);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFC92323', endColorstr='#FFB41F1F'); }
  .button:active, .button:visited:active {
    background-color: #da2c2c;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#c92323), to(#da2c2c));
    background-image: -webkit-linear-gradient(top, #c92323, #da2c2c);
    background-image: -moz-linear-gradient(top, #c92323, #da2c2c);
    background-image: -o-linear-gradient(top, #c92323, #da2c2c);
    background-image: linear-gradient(to bottom, #c92323, #da2c2c);
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr='#FFC92323', endColorstr='#FFDA2C2C'); }

/* import mixins */
/******************************************************************
Site Name: Theme Name
Stylesheet: Base Mobile Stylesheet
******************************************************************/
/*********************
GENERAL STYLES
*********************/
body {
  opacity: 1 !important;
  font-family: "OpenSansLight", "Helvetica Neue", Arial, sans-serif; }

.wrap {
  width: 96%;
  margin: 0 auto; }

.mobile {
  display: block; }

.full {
  display: none; }

/*********************
LINK STYLES
*********************/
a, a:visited {
  color: #da2c2c;
  /* on click */
  /* mobile tap color */ }
  a:hover, a:focus, a:visited:hover, a:visited:focus {
    color: #b41f1f; }
  a:link, a:visited:link {
    /*
    Basically works like the :hover selector
    for mobile devices.
    */
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0.3); }

/******************************************
H1, H2, H3, H4, H5 STYLES
******************************************/
/********************
ARTICLE STYLES
*********************/
/*********************
HEADER SYTLES
*********************/
.header #logo a {
  color: #e31b23; }
.header #desc {
  color: #da2c2c; }

/*********************
NAVIGATION STYLES
*********************/
.header #mobile-menu #inner-mobile-menu {
  width: 100%;
  min-width: 320px;
  height: 48px;
  background-color: #da2c2c; }
  .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li {
    width: 46px; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li span {
      position: absolute;
      height: 48px;
      width: 46px; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li:hover, .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li:active, .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li.open-close {
      background-color: #b41f1f; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li.menu-icon span {
      background: url(../images/mobile-sprite.png) no-repeat 3px 5px; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li.mobile-logo {
      width: 155px; }
      .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li.mobile-logo span {
        background: url(../images/mobile-sprite.png) no-repeat -42px 5px;
        width: 155px; }
      .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li.mobile-logo:hover, .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li.mobile-logo:active {
        background-color: #da2c2c; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li.search-icon {
      float: right; }
      .header #mobile-menu #inner-mobile-menu #mobile-menu-header ul.icons li.search-icon span {
        background: url(../images/mobile-sprite.png) no-repeat -187px 5px; }
  .header #mobile-menu #inner-mobile-menu #mobile-menu-content {
    float: left;
    width: 100%; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile-search-container {
      background: #b41f1f;
      padding: 5px 0px;
      overflow: hidden; }
      .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile-search-container #mobile-search {
        overflow: hidden; }
        .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile-search-container #mobile-search form input {
          border-radius: 3px;
          border: none;
          outline: none; }
        .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile-search-container #mobile-search form #mobile-search-input {
          width: 75%;
          min-width: 230px;
          float: right; }
          .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile-search-container #mobile-search form #mobile-search-input input {
            width: 100%; }
        .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile-search-container #mobile-search form #mobile-search-submit {
          margin-left: 1.5%;
          float: right;
          text-align: right; }
          .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile-search-container #mobile-search form #mobile-search-submit input[type=submit] {
            background: #da2c2c;
            padding: 10px;
            text-transform: uppercase;
            color: white;
            font-size: 12px; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile li a {
      background-color: #b41f1f; }
      .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile li a:hover, .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile li a:active {
        background-color: #e25757; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile {
      display: none; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile.open-close {
      display: block; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile-search-container {
      display: none; }
    .header #mobile-menu #inner-mobile-menu #mobile-menu-content #mobile-search-container.open-close {
      display: block; }

.nav {
  /* end .menu li */
  /* highlight current page */
  /* end current highlighters */ }
  .nav li a {
    color: white;
    background-color: #da2c2c; }
    .nav li a:hover, .nav li a:focus {
      background-color: #e25757;
      color: white; }
  .nav li.current-menu-item a,
  .nav li.current_page_item a,
  .nav li.current-page-ancestor a {
    background-color: #e25757; }

/* end .nav */
/*********************
POSTS & CONTENT STYLES
*********************/
/* end .hentry */
/***************************
FEATURES & CALLS TO ACTION
****************************/
/*********************
SIDEBARS & ASIDES
*********************/
.sidebar .widget ul li {
  /* deep nesting */ }

/*********************
FOOTER STYLES
*********************/
.footer #inner-footer {
  background: #da2c2c; }
  .footer #inner-footer a {
    color: #ece9d3; }

/* styles in base.scss */
@media only screen and (min-width: 481px) {
  /******************************************************************
  Site Name: Theme Name
  Stylesheet: 481px and Up Stylesheet
  ******************************************************************/
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav {
    /* .menu is clearfixed inside mixins.scss */
    /* end .menu */ }
    .nav .menu {
      /* end .menu ul */ }
      .nav .menu ul {
        /* end .menu ul li */
        /* highlight current page */
        /* end current highlighters */ }
        .nav .menu ul li {
          /*
          plan your menus and drop-downs wisely.
          */ }
          .nav .menu ul li a {
            /*
            you can use hover styles here even though this size
            has the possibility of being a mobile device.
            */ }

  /*********************
  POSTS & CONTENT STYLES
  *********************/
  /* entry content */
  .entry-content {
    /* at this larger size, we can start to align images */ }

  /* end .entry-content */
  /********************
  WORDPRESS BODY CLASSES
  style a page via class
  ********************/
  /*********************
  FOOTER STYLES
  *********************/
  /* end .footer-links */
  /* styles in 481up.scss */ }
@media only screen and (min-width: 768px) {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Grid Stylesheet
  
  I've seperated the grid so you can swap it out easily. It's
  called at the top the style.scss stylesheet.
  
  There are a ton of grid solutions out there. You should definitely
  experiment with your own. Here are some recommendations:
  
  http://gridsetapp.com - Love this site. Responsive Grids made easy.
  http://susy.oddbird.net/ - Grids using Compass. Very elegant.
  http://gridpak.com/ - Create your own responsive grid.
  
  The grid below is a combination of the 1140 grid and Twitter Boostrap. 
  I liked 1140 but Boostrap's grid was way more detailed so I merged them 
  together, let's see how this works out. If you want to use 1140, the original 
  values are commented out on each line.
  
  ******************************************************************/
  .onecol {
    width: 5.801104972%; }

  /* 4.85%;  } /* grid_1  */
  .twocol {
    width: 14.364640883%; }

  /* 13.45%; } /* grid_2  */
  .threecol {
    width: 22.928176794%; }

  /* 22.05%; } /* grid_3  */
  .fourcol {
    width: 31.491712705%; }

  /* 30.75%; } /* grid_4  */
  .fivecol {
    width: 40.055248616%; }

  /* 39.45%; } /* grid_5  */
  .sixcol {
    width: 48.618784527%; }

  /* 48%;    } /* grid_6  */
  .sevencol {
    width: 57.182320438000005%; }

  /* 56.75%; } /* grid_7  */
  .eightcol {
    width: 65.74585634900001%; }

  /* 65.4%;  } /* grid_8  */
  .ninecol {
    width: 74.30939226%; }

  /* 74.05%; } /* grid_9  */
  .tencol {
    width: 82.87292817100001%; }

  /* 82.7%;  } /* grid_10 */
  .elevencol {
    width: 91.436464082%; }

  /* 91.35%; } /* grid_11 */
  .twelvecol {
    width: 99.999999993%; }

  /* 100%;   } /* grid_12 */
  .onecol, .twocol, .threecol, .fourcol, .fivecol, .sixcol, .sevencol, .eightcol, .ninecol, .tencol, .elevencol, .twelvecol {
    position: relative;
    float: left;
    margin-left: 2.762430939%; }

  .first {
    margin-left: 0; }

  .last {
    float: right; }

  /* import grids */
  /******************************************************************
  Site Name: Theme Name
  Stylesheet: Tablet & Small Desktop Stylesheet
  
      ** imports _768up-nav.scss
  ******************************************************************/
  /*********************
  GENERAL STYLES
  *********************/
  /*********************
  LAYOUT & GRID STYLES
  *********************/
  .wrap {
    max-width: 1140px; }

  .full {
    display: block; }

  .mobile {
    display: none; }

  /*********************
  HEADER SYTLES
  *********************/
  /*********************
  NAVIGATION STYLES
  *********************/
  .nav.top-nav {
    background: #da2c2c;
    border: 0;
    /* end .nav ul li */
    /* add sub-menu parent item styling */ }
    .nav.top-nav li {
      float: left;
      position: relative;
      /* showing sub-menus for tier 2 */ }
      .nav.top-nav li a, .nav.top-nav li a:visited {
        border-bottom: 0;
        padding: 15px 20px;
        font-size: .9em; }
      .nav.top-nav li ul.sub-menu,
      .nav.top-nav li ul.children {
        margin-top: 0;
        position: absolute;
        left: 0;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        z-index: 8999;
        background: #da2c2c;
        -webkit-transition: 0.25s;
        -ms-transition: 0.25s;
        -o-transition: 0.25s;
        -transition: 0.25s;
        transition: 0.25s; }
        .nav.top-nav li ul.sub-menu:hover,
        .nav.top-nav li ul.children:hover {
          overflow: visible; }
        .nav.top-nav li ul.sub-menu li,
        .nav.top-nav li ul.children li {
          /* highlight sub-menu current page */ }
          .nav.top-nav li ul.sub-menu li a,
          .nav.top-nav li ul.children li a {
            display: block;
            width: 200px;
            background: none; }
            .nav.top-nav li ul.sub-menu li a:hover,
            .nav.top-nav li ul.children li a:hover {
              background: #e25757; }
          .nav.top-nav li ul.sub-menu li li.current-menu-item a,
          .nav.top-nav li ul.sub-menu li li.current_page_item a,
          .nav.top-nav li ul.sub-menu li li.current-page-ancestor a,
          .nav.top-nav li ul.children li li.current-menu-item a,
          .nav.top-nav li ul.children li li.current_page_item a,
          .nav.top-nav li ul.children li li.current-page-ancestor a {
            background-color: #ece9d3;
            color: #b82020; }
          .nav.top-nav li ul.sub-menu li ul,
          .nav.top-nav li ul.children li ul {
            top: 0;
            left: 100%;
            max-height: 0;
            overflow: hidden;
            z-index: 8999;
            background: #d62626;
            opacity: 0; }
            .nav.top-nav li ul.sub-menu li ul li a:hover, .nav.top-nav li ul.sub-menu li ul li a:focus,
            .nav.top-nav li ul.children li ul li a:hover,
            .nav.top-nav li ul.children li ul li a:focus {
              background: #e04f4f; }
          .nav.top-nav li ul.sub-menu li:hover ul,
          .nav.top-nav li ul.children li:hover ul {
            overflow: visible;
            max-height: 999em;
            opacity: 1;
            -webkit-transition-delay: .25s;
            transition-delay: .25s; }
      .nav.top-nav li:hover ul {
        top: auto;
        display: block;
        left: 0;
        max-height: 999em;
        opacity: 1;
        -webkit-transition-delay: .25s;
        transition-delay: .25s; }
    .nav.top-nav li.parent > a:after {
      color: #ccc;
      content: ' \00BB';
      font-size: .8em;
      vertical-align: 1px; }
    .nav.top-nav .sub-menu li.parent > a:after {
      color: #ccc;
      content: ' \00BB';
      font-size: .8em;
      vertical-align: 1px; }

  /* end .nav.top-nav */
  /*********************
  SIDEBARS & ASIDES
  *********************/
  .sidebar .widget ul li {
    /* deep nesting */ }

  /*********************
  FOOTER STYLES
  *********************/
  /* end .footer-links */
  /* styles in 768up.scss */ }
@media only screen and (min-width: 1030px) {
  /******************************************************************
  Site Name: Theme Name
  Stylesheet: Desktop Stylsheet
  ******************************************************************/
  /* styles in 1030up.scss */ }
@media only screen and (min-width: 1240px) {
  /******************************************************************
  Site Name: Theme Name
  Stylesheet: Super Large Monitor Stylesheet
  ******************************************************************/
  /* styles in 1240up.scss */ }
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /******************************************************************
  Site Name: 
  Author: 
  
  Stylesheet: Retina Screens & Devices Stylesheet
  
  When handling retina screens you need to make adjustments, especially
  if you're not using font icons. Here you can add them in one neat
  place.
  
  ******************************************************************/
  /* 
  
  EXAMPLE 
  Let's say you have an image and you need to make sure it looks ok
  on retina screens. Let's say we have an icon which dimension are
  24px x 24px. In your regular stylesheets, it would look something
  like this:
  
  .icon {
  	width: 24px;
  	height: 24px;
  	background: url(img/test.png) no-repeat;
  }
  
  For retina screens, we have to make some adjustments, so that image
  doesn't look blurry. So, taking into account the image above and the
  dimensions, this is what we would put in our retina stylesheet:
  
  .icon {
  	background: url(img/test@2x.png) no-repeat;
  	background-size: 24px 24px;
  }
  
  So, you would create the same icon, but at double the resolution, meaning 
  it would be 48px x 48px. You'd name it the same, but with a @2x at the end
  (this is pretty standard practice). Set the background image so it matches
  the original dimensions and you are good to go. 
  
  */
  /* styles in 2x.scss */ }
@media print {
  /******************************************************************
  Site Name:
  Author:
  
  Stylesheet: Print Stylesheet
  
  This is the print stylesheet. There's probably not a lot
  of reasons to edit this stylesheet. If you want to
  though, go for it.
  
  ******************************************************************/
  * {
    background: transparent !important;
    color: black !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important; }

  a, a:visited {
    color: #444 !important;
    text-decoration: underline; }
    a:after, a:visited:after {
      content: " (" attr(href) ")"; }
    a abbr[title]:after, a:visited abbr[title]:after {
      content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr, img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p, h2, h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; }

  .sidebar,
  .page-navigation,
  .wp-prev-next,
  .respond-form,
  nav {
    display: none; } }
